body {
    background: #0b181e;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

span {
    display: block;
}

a {
    display: block;
}

